#Projetos{
    width: 100vw;
    height: 100vh;
}
.project-container, .project-content{
    width: 100vw;
    height: 100vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-container .project-text,
.project-container .project-imgs{
    width: 100%;
    padding: 0 30px;
}
.project-text h1{
 font-size: 3vw;
 font-weight: 300;
 letter-spacing: 10px;
 margin-bottom: 2rem;
}
.project-text p{
    font-size: 1.3vw;
    text-align: left;
}
.project-imgs{
display: flex;
justify-content: center;
flex-wrap: wrap;
background-color: aqua;
}

#project-img img{
width: 18vw;
height: 25vh;
padding: 10px;
background-color: blue;
}
@media screen and (max-width:1256px) {
    .project-container, .project-content{
        flex-wrap: wrap;
    }
.project-text p{
    font-size: 1.5vw;
}
    #project-img img{
        width: 30vw;
        height: 30vh;
        object-fit: cover;
    }

}