
/* Estilos gerais para o contêiner de serviços */
Serviços {
    padding-top: 2rem;
    width: 100vw;
    height: 200vh;
    background-color: gray;
}

/* Contêiner que envolve os itens do carrinho */
.serv-container {
    width: 100vw;
    height: 100vh;
}

/* Estilos para os itens do carrinho */
.carts {
    width: 100vw;
    height: 100vh; /* Alteramos a altura para se ajustar ao conteúdo */
    display: flex;
    justify-content: center;
    gap: 7rem;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
    background-color: aqua;
}
.cart-item {
    background-color: rgb(43, 43, 43);
    width: 350px;
    height: 300px;
    display: block;
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 1vw;
}

@media (min-width:320px) and (max-width:355px) {
    .carts {
        gap: 1rem; 
    }

    .cart-item {
        width: 120px; 
        height: 120px;
    }

    .title {
        font-size: 2vw; /* Ajustamos o tamanho da fonte para telas menores */
    }
}
@media (min-width:356px) and (max-width: 400px) {
    .carts {
        gap: 1rem; 
    }

    .cart-item {
        width: 150px; 
        height: 150px;
    }

    .title {
        font-size: 2vw; /* Ajustamos o tamanho da fonte para telas menores */
    }
}
@media (min-width:401px) and (max-width: 599px) {
    .carts {
        gap: 1rem; 
    }

    .cart-item {
        width: 150px; 
        height: 150px;
    }

    .title {
        font-size: 2vw; /* Ajustamos o tamanho da fonte para telas menores */
    }
}


@media (min-width:600px) and (max-width: 1200px) {
    .carts {
        gap: 2rem; 
    }

    .cart-item {
        width: 250px; 
        height: 200px;
    }

    .title {
        font-size: 2vw; /* Ajustamos o tamanho da fonte para telas menores */
    }
}
